html {
  box-sizing: border-box;
}

:root {
  --primary-band-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

* ::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

input,
textarea,
button {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header styles */
.header-style {
  border-bottom: 1px solid var(--accent-color);
  align-items: center;
}

.header-container {
  display: flex;
  margin: auto;
  align-items: center;

}

/* .header-nav {
  display: flex;
  align-items: center;
} */

.header-style .menu-link {
  color: var(--dark-color);
  font-weight: 500;
}

.nav-menu-item {
  color: var(--dark-color);
}

.header-logo-start {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-start {
  color: var(--primary-band-color);
  margin-right: 76px;
  display: inline-block;
}

.header-contacts {
  font-style: normal;
  margin: auto;
}

.header-contacts-link {
  color: inherit;
}

.menu-link:hover,
.menu-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--pressed-state-color);
}

.link {
  font-style: normal;
}

nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  padding: 0px;
  margin-right: 332px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav-menu-item:not(:last-child) {
  margin-right: 40px;
}

.nav-menu .current {
  color: var(--pressed-state-color);
}

.header-contacts-menu {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  /* gap: 40px; */
}

.header-contacts-item:not(:last-child) {
  margin-right: 40px;
}

/* hero styles */
.hero {
  background: var(--dark-color);
  padding-top: 188px;
  padding-bottom: 188px;
  /* padding-left: 0;
  padding-right: 0; */
}

.hero-container {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

.header-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-color);
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;

  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

}

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-color);
  text-transform: capitalize;
  letter-spacing: 0.02em;
}


.btn {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  border-width: 0px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 16px 32px;
  border-radius: 4px;

  height: 56px;
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-color);
}

.cta-button {
  background-color: var(--primary-band-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 169px;
}

.filter-button {
  background-color: var(--light-color);
  color: var(--primary-band-color);

  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 12px 24px;
  border-radius: 4px;
  width: auto;
  /* height: 48px; */
  /* box-shadow: none; */

  border: 1px solid rgba(231, 233, 252, 1);
}

.filter-button:active {
  background-color: var(--pressed-state-color);
  color: var(--white-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter-button:hover,
.filter-button:focus {
  border: 1px solid transparent;
}

/* specialty styles */
.specialty {
  padding-top: 120px;
}

.specialty-container {
  padding: 0px;
}

.specialty-list {
  display: flex;
  padding: 0px;
  margin: 0px;
  /* gap: 24px; */
}

.specialty .header-three {
  margin-bottom: 8px;
}

.specialty-item {
  width: calc((100% - 72px));
}

.specialty-item:not(:last-child) {
  margin-right: 24px;
}

.header-three {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-color);
  letter-spacing: 0.02em;
}

/* business style */
.business-list-container {
  padding: auto;
  margin: auto;
}

.business .header-two {
  margin-bottom: 72px;
}

.business-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0;

}

/* .business-item:not(:last-child) {
  margin-right: 24px;
} */

.business-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
  margin-bottom: 0px;
  border: 1px solid var(--accent-color);

}

/* team styles */
.team {
  background-color: var(--light-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;

  padding: 0;
  margin: 0;
  gap: 24px;
}

.team-card {
  padding: 32px 0 32px;

  margin: auto;
  align-items: center;
}

.team .item {
  width: calc((100% - 72px) / 4);
  background: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-header-two {
  margin-bottom: 72px;
  text-align: center;
}

.team-header-three {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
}

/* projects styles */
.projects {
  padding-top: 96px;
}

.projects-container {
  padding: 0px;
  /* margin: 0px; */
  /* margin: auto; */
}

.projects-filter-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-left: 0;
  margin: 0px;
  margin-bottom: 72px;
}

.projects-description-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  gap: 48px 24px;
}

.project-item {
  width: calc((100% - 48px) / 3);
}

.projects-wrapper {
  border: 1px solid var(--accent-color);
  border-top: none;
  padding: 32px 16px;
}

.projects-title {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

}

.projects-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* footer styles  */
.footer-style {
  background-color: var(--dark-color);
  padding-bottom: 100px;
  padding-top: 100px;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.footer-style .logo-start {
  margin-bottom: 16px;
}

.logo-end-dark {
  color: var(--dark-color);
}

.logo-end-light {
  color: var(--light-color);
}

.footer-text {
  color: var(--light-color);
  width: 268px;
}